/* 
    Document   : style
    Created on : 7 avr. 2013, 11:13:12
    Author     : tony
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{
    background-color: rgb(204,255,255);
    width: 70%;
    margin: auto;
    font-family:  monospace;
    font-size: 130%;
}

